*{
    font-family: 'Karla', sans-serif;
}
body{
    height: 100%;
    margin: 3%;
    background-color: #e0ebeb;
}

main{
    width: 100%;
    display: grid;
    border-style: solid;
    border-color: #e0ebeb;
    border-radius: 10px;
    height: 100%;
    
    
}
.margin-left{
    margin-left: 5%;
}

#querie{
    margin-left:7%;
}
.join-community{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 212.391px;
}
.join-community h1{
    color: hsl(179, 62%, 43%);
    font-size: 20px;
    
    
}
.join-community h3{
    color: hsl(71, 73%, 54%);
    font-size: 18px;
    
}
.join-community p{
    font-size: 14px;
    line-height: 1.6;
    color: hsl(218, 22%, 67%);
    
    max-width: 263px;
}

.Sign-up{
    height: 212.391px;
    background-color: #2eb8b8;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 25px;
    line-height: 0.8;
    
}
.Sign-up h2{
    color: whitesmoke;
    font-size: 19px;
    
}
.Sign-up h1{
    color: whitesmoke;
    
}
.Sign-up h1 small{
    color:#98e6e6;
    font-size: 17px;
    margin-left: 5px;
}
.Sign-up p{
    color:whitesmoke;
    font-size: 17px;
    
}

button{
    margin: auto;
    font-size: 20px;
    margin-top: 24px;
    margin-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color:hsl(71, 73%, 54%);
    color: whitesmoke;
    width: 90%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    
}
button:focus{
    outline:none;
}
button:active {
    outline: none;
    transform: scale(0.99);
    background-color: #cfe765;
}


.why-us{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 212.391px;
    background-color: #33cccc;
    padding-bottom: 25px;
}
.why-us h2{
    margin-top: 20px;
    color: white;
    font-size: 20px;
    
}
.why-us ul {
    color: whitesmoke;
    list-style-type: none;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 2%;
    padding-left: 20px;
}

@media only screen and (min-width: 600px) {
    body{
        margin: 2%;
        height: 100%;
    }
    #main-grid{
        margin: auto;
        max-width: 898px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "aside main";
        height: 100%;
    }
    .join-community{
        grid-area: header;
        height: 100%;
    }
    .join-community p{
        max-width: 80%;
    }
    .Sign-up{
        grid-area: aside;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom-left-radius: 5px;
    }
    .Sign-up h2{
        margin-top: 20px;
    }
    .why-us{
        grid-area: main;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom-left-radius: 0px;
        
    }
    .why-us ul {
        margin-left: 5.5%;
        
    }
    .margin-left{
        width: 80%;
        
    }
    #querie{
        margin-left: 10%;
       
    }
    button{
        width: 70%;
        margin-left: 15%;
    }
    button:hover {
        background-color: #cfe765;
        cursor: pointer;
    }
    button:active {
        outline: none;
        transform: scale(0.98);
    }
}