body{
    margin: 8%;
    background-color: #e0ebeb;
}

#main-grid{
    display: grid;
    margin: 50 px;
    border: 1px solid;
    border-color: #e0ebeb;
    border-radius: 10px;
    
}
.join-community{
    background-color: whitesmoke;
    border-bottom: 40px;
    border-top: 25px;
}
.join-community h1{
    color:#40E0D0;
    font-size: 20px;
    margin-left: 20px;
}
.join-community h3{
    color: #99cc00;
    font-size: 17px;
    margin-left: 20px;
}
.join-community p{
    font-size: 16px;
    line-height: 1.6;
    color: #b3b3b3;
    margin-left: 20px;
}

.Sign-up{
    background-color: #2eb8b8;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 25px;
    
}
.Sign-up h2{
    color: whitesmoke;
    font-size: 19px;
    margin-left: 20px;
}
.Sign-up h1{
    color: whitesmoke;
    margin-left: 20px;
}
.Sign-up h1 small{
    color:#d9d9d9;
    font-size: 17px;
    margin-left: 5px;
}
.Sign-up p{
    color:whitesmoke;
    font-size: 17px;
    margin-left: 20px;
}

button{
    padding: 15px 100px 15px 100px;
    border-radius: 10px;
    background-color:#99cc00 ;
    color: whitesmoke;
    text-align: center;
    margin: auto 0;
    align-items:center;
    width: 80;
    
}

.why-us{
    background-color: #47d1d1;
    padding-bottom: 25px;
}
.why-us h2{
    color: white;
    margin-left: 20px;
}
.why-us ul {
    color: whitesmoke;
    list-style-type: none;
    font-size: 17px;
    line-height: 1.5;
    margin-left: 5px;
    padding-left: 20px;
}